.about{
  height: 100vh;
  margin: 2rem;
  @include flexPosition($jc:start);

  @include respo(sm){
    height: 100%;
    margin: 10rem 0;
  }

  &-container{
    
    background-color: color(secondary);
    width: 29%;
    height: auto;
    padding: 1rem;
    border-radius: 5px;

    @include respo(sm){
      width: 95%;
    }
    
    &-article{
      padding: 2rem 1rem;
      background-color: color(white);
    }

    &-heading{
      @include heading;

      @include respo(md){
        @include heading($size: font(md) + .5rem);
      }
      @include respo(sm){
        @include heading($size: font(md));
      }
    }

    &-paragraph{
      margin: 1rem 0;
    }

    &-btnbox{
      margin: 2rem auto 2rem auto;
      width: 80%;
      text-align: center;
      

      &-btn{
        background-color: color(white);
        border: 2px solid color(primary);
        color: color(primary);
        border-radius: 15px;
        height: 3rem;
        @include flexPosition;
        height: 100%;
        width: 100%;
        text-decoration: none;
        cursor: pointer;

        &:hover{
          background-color: color(primary);
          color: color(white);
        }
      }
    }
  }
}