.chicken,.cat{
    width: 100%;
    height: 110px;
    display: flex;
    animation: leftThenRight 5s infinite linear;
    position: absolute;
    z-index: -150;

    @include respo(md){
        height: 55px;
    }
}
.eventImg{
    width: auto;
}
@keyframes leftThenRight{
    from{
        transform: translateX(-20%);
    }
    to{
        transform: translateX(100%);
    }
}