.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-wood-img {
    width: 100%;
    height: auto;
    z-index: -100;
  }

  &-container {
    margin-top: 10rem;
    width: auto;
    height: auto;
    position: fixed;
    z-index: -50;
    top: 0;
  }

  &-welcome {
      z-index: 500;
      @include flexPosition;

    &-img {
      width: 100%;
      object-fit: cover
    }

    &-headings {
      @include flexPosition;
      flex-direction: column;
      margin: 2rem;
      position: absolute;
      

      &-sub {
        @include heading($size: font(xl) + 3rem);

        @include respo(lg){
          @include heading($size: font(xl) + 1rem);
        }
        @include respo(md){
          @include heading($size: font(xl));
        }
        @include respo(sm){
          @include heading($size: font(md));
        }
      }
      &-heading {
        @include heading($size: font(xl) + 5rem);

        @include respo(lg){
          @include heading($size: font(xl) + 3rem);
        }
        @include respo(md){
          @include heading($size: font(xl) + 2rem);
        }
        @include respo(sm){
          @include heading($size: font(lg));
        }
      }
    }
  }
}
.troll {
  width: 400px;
  height: auto;
  z-index: -100;

  @include respo(md){
    width: 300px;
  }
  @include respo(sm){
    width: 150px;
  }
}
