.eventspage{

  &-head{
    width: 100%;
    @include flexPosition($jc:space-around);

    @include respo(sm){
      justify-content: center;
      flex-direction: column;
    }
    
    &-content{
      margin: 14rem 2rem;
      width: 40%;

      @include respo(sm){
        margin: 2rem;
        margin-top: 10rem;
        width: 90%;
      }
    }

    &-article{
      background-color:rgba(color(white), .5);
      padding: .5rem;
      border-radius: 5px;
    }

    &-heading{
      @include heading($size: font(lg));
      text-align: center;
      margin-bottom: 1rem;
    }

    &-video{
      margin: 12rem 2rem;
      background-color: color(primary);
      padding: 1rem 1rem 0 0;
      border-radius: 5px;
      width: 40%;

      @include respo(sm){
        margin: 2rem;
        width: 90%;
      }

      &-src{
        width: 100%;
        border-radius: 5px;
      }
    }
  }

  &-info{
    margin: 2rem;
    @include flexPosition($jc:space-around);

    @include respo(sm){
      justify-content: center;
      flex-direction: column;
    }

    &-left, &-right{
      width: 40%;
      border-radius: 5px;

      @include respo(sm){
        margin: 2rem;
        width: 90%;
      }
    }

    &-article{
      background-color:rgba(color(white), .5);
      border-radius: 5px;
      padding: .5rem;
    }

    &-heading{
      margin-bottom: .2rem;
      margin-top: 1rem;
      @include heading($size: font(md));
    }

    &-paragraph{
      margin-bottom: 2rem;
    }

    &-btn{
      width: 10rem;
      height: 3rem;
      padding: .5rem 1rem;
      margin: 10rem 0;
      border-radius: 15px;
      background-color: color(white);
      border: 2px solid color(primary);
      color: color(primary);
      text-decoration: none;

      &:hover{
        background-color: color(primary);
        border: 2px solid color(white);
        color: color(white);
      }
    }
  }
}