.login{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 85% 15%;
    @include respo(md){
        grid-template-columns: 100%;
        grid-template-rows: 45% 45% 10%;
    }

    &-member{
        background-color: transparentize(color(white), .3);
        border: solid 3px color(primary);
        border-radius: 5px;
        width: 70%;
        height: 70%;
        margin: auto;
        @include respo(md){
            height: 80%;
        }
        @include respo(sm){
            height: 90%;
            width: 90%;
        }

        &-heading{
            @include heading;
            text-align: center;
            @include respo(sm){
                font-size: font(lg);
                margin-top: 1rem;
            }
        }

        &-form{
            @include flexPosition;
            flex-direction: column;
            width: 100%;
            height: 80%;

            &-input{
                height: 20%;
                width: 90%;
                margin: 0 auto 2rem;
                padding: 1rem;
                border: solid 3px color(primary);
                border-radius: 5px;
            }
            &-btn{
                height: auto;
                width: 80%;
                margin: 0 auto;
                padding: 1rem;
                border: solid 3px color(primary);
                background-color: color(white);
                @include heading($size: font(md));
                letter-spacing: 2px;
                border-radius: 5px;
            }
            &-btn:hover{
                background-color: color(primary);
                color: color(white);
                border: 3px solid white;
            }
        }
    }

    &-admin{
        background-color: transparentize(color(white), .3);
        border: solid 3px color(primary);
        border-radius: 5px;
        width: 70%;
        height: 70%;
        margin: auto;
        @include respo(md){
            grid-area: 2/1/2/1;
            height: 80%;
        }
        @include respo(sm){
            height: 90%;
            width: 90%;   
        }

        &-heading{
            @include heading;
            text-align: center;
            @include respo(sm){
                font-size: font(lg);
                margin-top: 1rem;
            }
        }

        &-form{
            @include flexPosition;
            flex-direction: column;
            width: 100%;
            height: 80%;

            &-input{
                height: 20%;
                width: 90%;
                margin: 0 auto 2rem;
                padding: 1rem;
                border: solid 3px color(primary);
                border-radius: 5px;
            }
            &-btn{
                height: auto;
                width: 80%;
                margin: 0 auto;
                padding: 1rem;
                border: solid 3px color(primary);
                background-color: color(white);
                @include heading($size: font(md));
                letter-spacing: 2px;
                border-radius: 5px;
            }
            &-btn:hover{
                background-color: color(primary);
                color: color(white);
                border: 3px solid white;
            }
        }
    }
   
    &-link{
        text-decoration: none;
        color: color(primary);
        background-color: color(white);
        padding: 1rem;
        border: solid 3px color(primary);
        border-radius: 15px;
        grid-area: 2/1/2/3;
        width: auto;
        height: auto;
        margin: auto;
        align-self: start;
        @include respo(md){
            grid-area: 3/1/3/1;
        }
    }
    &-link:hover{
        background-color: color(primary);
        color: color(white);
        border: 3px solid white;
    }
}