.profil{
    width: 100%;
    height: 100vh;
    @include flexPosition($jc: space-around);
    @include respo(md){
        flex-direction: column;
    }

    &-container{
        width: 40%;
        height: 60%;
        background-color: color(quarternary);
        border-radius: 15px;
        @include flexPosition;
        @include respo(md){
            height: 40%;
            width: 60%;
        }
        @include respo(sm){
            width: 80%;
        }

        &-img{
            width: 90%;
            height: 90%;
            background-color: lighten(color(quarternary), 4);
            border-radius: 15px;
            @include flexPosition;

            &-text{
                color: white;
                font-size: font(lg);
                letter-spacing: 2px;
            }
        }
    }

    &-content{
        background-color: transparentize(white, .3);
        width: 40%;
        height: 60%;
        border-radius: 15px;
        @include flexPosition;
        @include respo(md){
            height: 40%;
            width: 60%;
        }
        @include respo(sm){
            width: 80%;
        }
        
        &-form{
            width: 80%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include respo(md){
                height: 90%;
            }

            &-input{
                height: 5rem;
                padding: 5px;
                border-radius: 5px;
                border: 2px solid color(primary);
            }
            &-text{
                padding: 5px;
                border-radius: 5px;
                border: 2px solid color(primary);
                @include respo(md){
                    height: 16rem;
                }
            }
            &-btn{
                width: 60%;
                height: 5rem;
                border-radius: 15px;
                border: 2px solid color(primary);
                background-color: white;
                align-self: center;
                color: color(primary);
                font-size: font(sm);
            }
            &-btn:hover{
                border: 2px solid white;
                background-color: color(primary);
                color: white;
            }
        }
    }
}

.profileLink{
    font-size: font(md);
    color: black;
}