.prohead {
  height: 60vh;
  z-index: -10;

  &-imgbox {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &-headbox {
    position: absolute;
    top: 40%;
  }

  &-heading {
    border-radius: 5px;
    padding: 2rem 10rem;
    background-color: rgba(black, 0.5);
    font-size: font(xl);
    color: color(primary);
    font-family: "Quicksand", Arial, Helvetica, sans-serif;

    @include respo(md){
      font-size: font(lg);
    }
    @include respo(sm){
      padding: 2rem 5rem;
    }
    @include respo(xs){
      font-size: font(md);
    }
  }

  &-subheading{
    position: absolute;
    right: 0;
    top: 50%;
    margin: 2rem;
    color: color(primary);
    font-size: font(md);
    font-family: "Quicksand", Arial, Helvetica, sans-serif;

    @include respo(sm){
      font-size: font(sm);
    }
    @include respo(xs){
      font-size: font(xs);
    }
  }
}

.proinfo {
  &-container {
    width: 100%;
    @include flexC;
    
    @include respo(lg){
      flex-wrap: wrap;
    }

    &-btncontain{
      padding-left: .5rem;
    }
    &-btn {
      text-decoration: none;
      font-weight: 900;
      font-size: font(sm);
      font-family: "Quicksand", Arial;
      color: black;

      &:hover{
        text-decoration: underline;
      }
    }

    &-description, &-imgbox {
      margin: 5rem 2rem;
      padding: 0.5rem;
      width: 33%;

      @include respo(lg){
        margin: 2rem;
      }
      @include respo(md){
        width: 50%;
      }
      @include respo(md){
        width: 80%;
      }


      &-textbox {
        width: 100%;
        height: 90%;
        padding: 0.5rem;
        border-radius: 5px;
        background-color: white;
      }

      &-txt {
        &-bold {
          font-weight: 900;
          font-size: font(sm);
          font-family: "Quicksand", Arial;
        }
      }
    }

    &-description {
      height: 20rem;
      border-top: 1.5px solid color(primary);
      border-bottom: 1.5px solid color(primary);

      @include respo(lg){
        height: 25rem;
      }
    }

    &-img {
      width: 100%;
      border-radius: 5px;
    }
  }
}
