.hero-body {
  background: black;
}

.loading-screen {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  color: color(primary);

  @include flexC;
  flex-direction: column;

  font-family: "Quicksand", sans-serif;
  font-weight: 600;

  opacity: 0;
  transition: opacity 400ms 1000ms ease-in-out;

  &.is-loading {
    opacity: 1;
  }
}

.logo {
  position: relative;
  width: 6rem;
  height: 6rem;
  margin-bottom: 10px;

  opacity: 0.3;
  transition: opacity 400ms 900ms ease-in-out;

  &.is-revealed {
    opacity: 1;
    .overlay {
      transform: rotate(45deg) translate3d(-100%, 0, 0);
    }
  }

  .overlay {
    position: absolute;

    width: 100%;
    height: 100%;
    background: black;

    transform: rotate(45deg);
    transition: transform 400ms 900ms ease-in-out;
  }
}

.letters {
  opacity: 0.4;
  transition: opacity 400ms 200ms ease-in-out;
  font-size: font(md);

  &.is-done {
    opacity: 1;
  }
}

.char-wrapper {

  display: inline-block;
  vertical-align: top;
  overflow: hidden;

  width: 25px;
  height: 30px;

  font-size: 25px;
  text-align: center;

  .char {
    transition: transform 100ms ease-in-out;
  }

  span {
    display: block;
    width: 100%;
    height: 30px;
  }
}

.site {
  display: block;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: font(xs);

  margin-top: 10px;

  opacity: 0;
  transform: translate3d(0, 5px, 0);
  transition: opacity 400ms 900ms ease-in-out, transform 400ms 900ms ease-in-out;

  &-link{
    text-decoration: none;
    color: color(primary);

    &:hover{
      text-decoration: underline;
    }
  }

  &.is-visible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
