.nav{
  margin: 2rem;
  position: fixed;

  &-logobox{
    margin: 1rem .5rem;
    width: 5rem;
    height: 5rem;
    z-index: 10;

    @include respo(xl){
      width: 10rem;
      height: 10rem;
    }
    @include respo(md){
     background-color: black;
     border-radius: 260px;
    }

    &-img{
      height: 100%;
      width: 100%;
    }
  }

  &-menu{
    height: 100%;
    margin: 3rem .5rem;

    &-link{
      text-decoration: none;
    }

    &-item{
      @include flexC;
      width: 5rem;
      height: 5rem;
      background-color: color(primary);
      border-radius: 100px 100px 260px 260px;
      margin: 1rem 0;

      @include respo(xl){
        width: 10rem;
        height: 10rem;
      }
      @include respo(md){
        background-color: black;
      }

      &:hover{
        animation-name: menuIcon;
        animation-duration: 5ms;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards
      }
    }

    
    &-icon, &-icontxt{
      @include flexC;
      color: black;
      font-size: font(lg);
      width: 90%;
      height: 90%;

      @include respo(xl){
        font-size: font(xl)+.5rem;
      }
      @include respo(md){
        color: color(primary);
      }
      
      &-txt {
        display: none;        
        font-size: font(sm);
        margin-left: 1rem;
        font-family: "Quicksand", Arial, Helvetica;
        font-weight: 600;
      }
      &:hover .nav-menu-icon-txt {
        display: block;
        transition: all 2s;
      }
    }

    &-icontxt{
      font-family: "Quicksand", Arial, Helvetica;
      font-weight: 700;
    }
  }
}

@keyframes menuIcon {
  0%{

  }
  50%{
    width: 15rem;
    border-radius: 10px 10px 26px 26px;
  }
  100%{
    width: 15rem;
    border-radius: 10px 10px 26px 26px;
  }
}