.shift1{
  width: 100%;
  height: 10rem;
  background: linear-gradient(white, gray);
  }
  .shift2{
  width: 100%;
  height: 10rem;
  background: linear-gradient(gray, black);
  }
  .shift3{
  width: 100%;
  height: 5rem;
  background: linear-gradient(black, color(primary));
  }


  // UNDERSIDER
  .shift4{
  width: 100%;
  height: 5rem;
  background: linear-gradient(white, color(primary));
  }