.header{
  background-color: color(bg);
  @include flexPosition;
  flex-direction: column;

  
  &-text{
    position: absolute;
    @include flexPosition;
    flex-direction: column;
  }
  &-heading{
    text-align: center;
    width: 100%;
    font-family: 'Rock 3D';
    font-size: font(xl) + 2rem;

    @include responsive(sm){
      font-size: font(lg) + 4rem;
    }
    @include responsive(xs){
      font-size: font(lg) + 1rem;
    }
  }

  &-intro{
    margin: 2rem;
    width: 80%;
    text-align: center;
    font-size: font(md);

    @include responsive(sm){
      font-size: font(sm);
    }
  }

  &-blob{
    height: 600px;
    width: 700px;

    @include responsive(sm){
      height: 400px;
      width: 500px;
      margin-bottom: 5rem;
    }
    @include responsive(xs){
      height: 300px;
      width: 300px;
      margin-bottom: 2rem;
    }
  }

  
}