.nav {
  margin: 2rem;
  z-index: 600;
  position: absolute;

  &-logocontain {
    width: 15rem;
    position: fixed;

    @include respo(md){
      width: 12rem;
    }
    @include respo(sm){
      width: 6rem;
    }

    &-link {
      text-decoration: none;
      width: 100%;
    }
  }
  &-burger {
    width: 20rem;
    height: 15rem;
    position: fixed;
    top: 2rem;
    right: 0%;
    @include flexPosition($jc: space-around);

    @include respo(md){
      height: 10rem;
      width: 18rem;
    }
    @include respo(sm){
      height: 3rem;
      width: 15rem;
    }
  }

  &-bar {
    width: 4rem;
    height: 4rem;
    @include flexPosition($jc: space-around);
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.5s;

    @include respo(sm){
      width: 2.5rem;
      height: 2.5rem;
    }

    &-line {
      width: 100%;
      height: .5rem;
      background-color: color(black);
      transform-origin: right;
      transition: all 0.5s 0.5s;

      @include respo(sm){
        height: .4rem;
      }
    }
  }

  &-login {
    list-style: none;

    &-link {
      text-decoration: none;
      color: color(black);
    }

    &-icon {
      font-size: font(lg);
      @include flexPosition;

      @include respo(sm){
        font-size: font(md);
      }

      &-txt {
        visibility: hidden;
        font-size: font(sm);
        text-decoration: underline;
      }
      &:hover .nav-login-icon-txt {
        visibility: visible;
        transition: all 2s;
      }
    }
  }

  &-menu{
    display: flex;

    &-right{
      top: 0;
      width: 33.33vw;
      height: 100vh;
      background-color: rgba(color(white), 0.8);
      z-index: -1;
      position: fixed;
      right: -100vw;
      @include flexPosition;
      transition: right .8s cubic-bezier(1, 0, 0, 1);

      @include respo(md){
        width: 100vw;
      }
    }

  }
  &-list{
    
    &-item{
      list-style: none;
    }

    &-link{
      text-decoration: none;
      color: color(primary);
      font-family: 'Sawarabi Mincho';
      font-size: font(lg);
      font-weight: 600;
      letter-spacing: 1px;
      cursor: pointer;
      display: block;
      text-align: center;
      margin: 3rem;

      @include respo(md){
        font-size: font(md);
      }

      &:hover{
        text-decoration: underline;
        transition: all 8s;
      }
    }
  }
}
 

.checkbox:checked ~ .nav-menu .nav-menu-right {
  right: 0;
}
.checkbox:checked ~ .nav-burger .nav-bar {
  transform: rotateZ(90deg);
}
.checkbox:checked ~ .nav-burger .nav-bar-line-1 {
  transform: rotateZ(-40deg);
}
.checkbox:checked ~ .nav-burger .nav-bar-line-2 {
  opacity: 0;
}
.checkbox:checked ~ .nav-burger .nav-bar-line-3 {
  transform: rotateZ(40deg);
}
